---
import { Image } from "astro:assets";

const { post } = Astro.props;
console.log(post);
---

<article>
    <a
        href={post.url}
        target="_blank"
        class="flex flex-col gap-4 p-4 bg-neutral-800 rounded-lg shadow-md outline-4 outline-neutral-400/15 hover:shadow-2xl hover:shadow-neutral-800 transition-shadow duration-500"
    >
        <section class="relative">
            <Image
                src={post.frontmatter.imageCover}
                alt={post.frontmatter.title}
                width={500}
                height={500}
                class="w-full object-cover aspect-1/1 rounded-md"
            />
        </section>
        <section class="flex flex-col gap-2">
            <h2 class="font-black text-2xl">{post.frontmatter.title}</h2>
            <p class="text-neutral-400 line-clamp-3">
                {post.frontmatter.description}
            </p>
            <!-- Tech items -->
            <ul class="flex flex-wrap gap-2">
                {
                    post.frontmatter.tech.map((item: string) => (
                        <li class="text-neutral-400 text-sm font-light bg-neutral-700 px-2 py-1 rounded-md">
                            {item}
                        </li>
                    ))
                }
            </ul>
        </section>
    </a>
</article>
