---
import TextGradient from '../elements/TextGradient.astro';
import Image from 'astro/components/Image.astro';
import type { Frontmatter } from '../../types/portfolio';

type Props = Pick<Frontmatter, 'title' | 'role' | 'description' | 'company' | 'tech'> & {
    coverUrl: string;
};
const { title, role, description, company, tech, coverUrl } = Astro.props;
---

<div class="grid lg:grid-cols-5 items-center gap-8">
    <div class="order-2 lg:order-1 col-span-2 flex flex-col gap-4 text-center lg:text-left">
        <div class="flex flex-col">
            <h1 class="text-3xl lg:text-5xl font-bold">
                <TextGradient class="from-neutral-300/80 to-neutral-500/70">{title}</TextGradient>
            </h1>
            <p class="text-xs font-medium text-neutral-300">{role}</p>
        </div>
        <div>
            <p class="font-light">{description}</p>
            <p class="text-xs font-medium text-neutral-300 my-2">Client: {company}</p>
        </div>
        <div class="flex flex-wrap gap-2 justify-center lg:justify-start max-w-[95%] lg:max-w-none m-auto">
            {
                tech.map((techItem: string) => (
                    <a
                        href={`/portfolio?tech=${techItem}`}
                        class="text-neutral-300/90 hover:text-neutral-100 transition-colors duration-300
                                font-mono text-xs py-1 px-2 rounded bg-neutral-800/50 hover:bg-neutral-700/60
                                border border-neutral-700/50 hover:border-neutral-600/80
                                before:content-['<'] before:mr-1 before:opacity-70
                                after:content-['/>'] after:ml-1 after:opacity-70"
                    >
                        {techItem}
                    </a>
                ))
            }
        </div>
    </div>
    <div class="order-1 lg:order-2 col-span-3 flex">
        <Image
            src={coverUrl}
            alt={title}
            width={1200}
            height={685}
            loading={'eager'}
            class="rounded-2xl shadow-2xl shadow-neutral-700/50"
        />
    </div>
</div>