---
import Github from '../icons/Icons/Github.astro';
import Image from 'astro/components/Image.astro';
import type { Frontmatter } from '../../types/portfolio';

type Props = Pick<Frontmatter, 'category' | 'date' | 'duration' | 'demoLink' | 'gitHub' | 'deepWiki'>;

const { category, date, duration, demoLink, gitHub, deepWiki } = Astro.props;
---

<aside
    class="flex flex-col md:flex-row justify-between items-center gap-4 p-4 font-light text-xs bg-neutral-800 rounded-lg shadow-md outline-4 outline-neutral-400/15 hover:shadow-2xl hover:shadow-neutral-800 transition-shadow duration-500">
    <nav class="flex gap-4 items-center">
        <span
            class="bg-gradient-to-r from-primary-700 to-primary-500 text-neutral-300 text-xs font-light px-2 py-1 rounded-md">
            {category}
        </span>
        <p>{date} / {duration}</p>
    </nav>
    <nav class="flex-1 flex justify-center gap-2">
        <a href="#overview">Overview</a>|<a href="#gallery">Gallery</a>
    </nav>
    <nav class="flex gap-2 items-center">
        <p class="hidden lg:block">External Links:</p>

        {
            demoLink && (
                <a href={demoLink} target="_blank">{demoLink}</a>
            )
        }

        {
            gitHub && (
                <a href={gitHub} target="_blank" class="bg-neutral-900">
                    <Github size="sm" class="fill-neutral-400" />
                </a>
            )
        }

        {
            deepWiki && (
                <a href={deepWiki} target="_blank">
                    <Image
                        src="https://deepwiki.com/icon.png"
                        alt="Deep Wiki Info"
                        width={16}
                        height={16}
                        loading="eager"
                    />
                </a>
            )
        }
    </nav>
</aside>