---
import { SITE_DATA_CONTACT } from '../../consts';
import AnchorLink from '../library/AnchorLink.astro';
---

<div
    class="flex flex-col md:flex-row gap-4 mt-4 items-center justify-center w-full max-w-lg mx-auto"
>
    <p class="flex-1 text-sm font-light text-center">
        <AnchorLink href={`mailto:${SITE_DATA_CONTACT.email}`} variant="outline" class="block px-0">
            {SITE_DATA_CONTACT.email}
        </AnchorLink>
    </p>
    <p class="flex-1 text-sm font-light text-center">
        <AnchorLink href={`tel:${SITE_DATA_CONTACT.walink}`} variant="outline" class="block px-0">
            {SITE_DATA_CONTACT.phone}
        </AnchorLink>
    </p>
    <p class="flex-1 text-sm font-light text-center">
        <AnchorLink
            href={`https://wa.me/${SITE_DATA_CONTACT.walink}`}
            variant="outline"
            class="block px-0"
        >
            {SITE_DATA_CONTACT.address}
        </AnchorLink>
    </p>
</div>
