---
import Layout from './Layout.astro';
import Header from '../components/portfolio/Header.astro';
import Navbar from '../components/portfolio/Navbar.astro';
import Gallery from '../components/portfolio/Gallery.astro';
import { getCldImageUrl } from 'astro-cloudinary/helpers';
import { getGalleryImages } from '../utils/cloudinary';
import type { Frontmatter, GalleryImage } from '../types/portfolio';
import Markdown from '../components/library/Markdown.astro';

interface Props {
    frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
const coverUrl: string = getCldImageUrl({ src: frontmatter.imageCover });
const images: GalleryImage[] = await getGalleryImages(frontmatter.gallery);
---

<Layout
    title={`${frontmatter.title} - Project`}
    description={frontmatter.description}
    image={coverUrl}
>
    <section
        class="w-11/12 max-w-6xl mx-auto my-8 lg:my-36 text-neutral-300/80 flex flex-col gap-12"
    >
        <Header
            title={frontmatter.title}
            role={frontmatter.role}
            description={frontmatter.description}
            company={frontmatter.company}
            tech={frontmatter.tech}
            coverUrl={coverUrl}
        />

        <Navbar
            category={frontmatter.category}
            date={frontmatter.date}
            duration={frontmatter.duration}
            demoLink={frontmatter.demoLink}
            gitHub={frontmatter.gitHub}
            deepWiki={frontmatter.deepWiki}
        />

        <Markdown>
            <slot />
        </Markdown>

        <Gallery images={images} title={frontmatter.title} />
    </section>
</Layout>
