---
import Layout from './Layout.astro';
import TextGradient from '../components/elements/TextGradient.astro';
import { CldImage } from 'astro-cloudinary';
import Github from '../components/icons/Icons/Github.astro';
import Image from 'astro/components/Image.astro';
import Markdown from '../components/library/Markdown.astro';

const { frontmatter } = Astro.props;

const ogImageUrl = `https://res.cloudinary.com/${import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME}/image/upload/c_fill,w_1200,h_630/${frontmatter.imageCover}.jpg`;
---

<Layout title={`${frontmatter.title} - Project`} description={frontmatter.description} image={ogImageUrl}>
    <section class="w-11/12 max-w-6xl mx-auto my-36 text-neutral-300/80 flex flex-col gap-12">
        <div class="grid lg:grid-cols-5 items-center gap-8">
            <div class="col-span-2 flex flex-col gap-4">
                <div class="flex flex-col">
                    <h1 class="text-5xl font-bold">
                        <TextGradient class="from-neutral-300/80 to-neutral-500/70">{frontmatter.title}</TextGradient>
                    </h1>
                </div>
                <p class="font-light text-sm">{frontmatter.description}</p>
                <div
                    class="flex flex-wrap gap-2 max-w-10/12">
                    {
                        frontmatter.tech.map((tech: string) => (
                            <a href={`/portfolio?tech=${tech}`}
                               class="text-neutral-400/90 font-light text-xs before:content-['<'] after:content-['/>'] cursor-pointer">{tech} </a>
                        ))
                    }
                </div>
            </div>
            <div class="col-span-3 flex">
                <CldImage
                    src={frontmatter.imageCover}
                    alt={frontmatter.title}
                    width={1200}
                    height={685}
                    class="rounded-2xl shadow-2xl shadow-neutral-700/50"
                />
            </div>
        </div>
        <aside
            class="flex justify-between items-center gap-4 p-4 font-light text-xs bg-neutral-800 rounded-lg shadow-md outline-4 outline-neutral-400/15 hover:shadow-2xl hover:shadow-neutral-800 transition-shadow duration-500">
            <nav class="flex gap-4 items-center">
                <span
                    class="bg-gradient-to-r from-primary-700 to-primary-500 text-neutral-300 text-xs font-light px-2 py-1 rounded-md">
                    {frontmatter.category}
                </span>
                <p>{frontmatter.date} / {frontmatter.duration}</p>
            </nav>
            <nav class="flex-1 flex justify-center gap-2">
                <a href="#overview">Overview</a>|<a href="#gallery">Gallery</a>
            </nav>
            <nav class="flex gap-2 items-center">
                <p>External Links:</p>
                <a href={frontmatter.demoLink} target="_blank">{frontmatter.demoLink}</a>
                <a href={frontmatter.gitHub} target="_blank" class="bg-neutral-900">
                    <Github size="sm" class="fill-neutral-400" />
                </a>
                <a href={frontmatter.deepWiki} target="_blank">
                    <Image
                        src="https://deepwiki.com/icon.png"
                        alt="Deep Wiki Info"
                        width={16}
                        height={16}
                        loading="eager"
                    />
                </a>
            </nav>
        </aside>
        <Markdown>
            <slot />
        </Markdown>
        <section id="gallery" class="grid gap-4 pt-4">
            {
                frontmatter.images.map((image: string, index: number) => (
                    <CldImage
                        src={image}
                        alt={`${frontmatter.title} image ${index + 1}`}
                        width={1152}
                        height={648}
                        class="rounded-xl"
                    />
                ))
            }
        </section>
    </section>
</Layout>
